.conteiner_about_us {
    margin-top: 100px;
}

.conteiner_about_us h2 {
    font-family: 'Halvar Breitschrift', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: 50px;
}

/* Сетка для карточек */
.about_us_in_numbers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin-left: 550px; 
    gap: 30px;
}

/* блоки карточек */
.number_block {
    width: 470px;
}

.number_block h3 {
    font-family: 'Halvar Breitschrift', sans-serif;
    color: #4D6291;
    font-size: 140px;
    height: 105px;
    overflow: hidden;
    text-transform: uppercase;
    font-style: italic;
}

.number_block h4 {
    font-family: 'Halvar Breitschrift', sans-serif;
    color: #fff;
    font-size: 25px;
    height: 50px;
    text-transform: uppercase;
    margin-top: 10px;
}

.number_block p {
    font-family: 'Share Tech Mono', sans-serif;
    color: #fff;
    font-size: 16px;
    height: 76px;
    margin-top: 20px;
}

.item_2_numbers h3 {
    color: #6A7EAC;
}

.item_3_numbers h3{
    color: #869BCA;
    height: 100px;
    width: 1000px;
}