    .component {
        width: 100%;
        height: 100%;
    }

    .sub-block {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .component button {
        background-color: unset; 
        border: unset;
        width: 20px;
    }

    .sub-block-hide {
        /* background-color: red; */
        flex: 1 1;
        /* min-height: 250px; */
        /* border: 1px solid black; */
        height: 150px; 
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }



    .sub-block:nth-child(1) {
        border: 2px solid rgba(255, 255, 255, 0.2);
        padding: 10px;
        border-left: unset;
    }

    .sub-block:nth-child(2) {
        border: 2px solid rgba(255, 255, 255, 0.2);
        padding: 10px;
        border-right: unset;
    }

    .sub-block:nth-child(3) {
        border: 2px solid rgba(255, 255, 255, 0.2);
        padding: 10px;
        border-left: unset;
    }

    .sub-block-show {
        /* background-color: blue; */
        border: 1px solid black;
        box-sizing: border-box;
        flex: 1 1;
        /* min-height: 250px; */
    }
    .component {
        padding:20px;
        box-sizing: border-box;
    }

    .sub-block button {
        height: 20px;
        margin-top: 10px;
        margin-right: 15px;
    }

    
    .sub-block-head {
        flex: 1 1;
        margin-left: 30px;

    }

    .sub-block-head h2 {
        font-family: 'Halvar Breitschrift', sans-serif;
        color: white;
        size: 20px;
    }

    .sub-block-head img {
        margin-top: 10px;
        margin-left: 20px;
    }

    .sub-block-body {
        flex: 3 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .sub-block-body h2 {
        font-family: 'Halvar Breitschrift', sans-serif;
        font-weight: 800;
        color: white;
        size: 50px;
        width: 100%;
        margin-left: 45px;
    }

    .sub-block-chek {
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-left: 45px;
        height: 115px;
        opacity: 1;
        left: 660px;
        border-width: 1px;
        border-radius: 10px;
        padding: 15px;
        gap: 10px;
        background-color: #ffffff2d;
    }

    .sub-block-text1 {
        font-family: Share Tech Mono;
        font-weight: 400px;
        font-style: Regular;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: white;
        margin-bottom: 5px;
    }

    .sub-block-text2 {
        font-family: Share Tech Mono;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -4%;
        vertical-align: middle;
        color: white;
        margin-bottom: 5px;
    }

    .component-boli-header {
        font-family: 'Halvar Breitschrift', sans-serif;
        color: #fff;
        font-size: 25px;
        font-weight: 800;
        line-height: 100%;
        text-transform: uppercase;
        flex: 1 1;
        vertical-align: middle;
        width: 200px;
        max-width: 100%;
        align-self: baseline;
        padding-top: 0.4em;
        margin-top: 60px;
        margin-bottom: 20px;
        margin-left: 40px;

    }