    .content-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }

    .description-header {
        font-family: 'Halvar Breitschrift', sans-serif;
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        line-height: 100%;
        text-transform: uppercase;
        margin-left: 50px;
        flex: 1 1;
        font-style: normal;
        size: 25px;
        vertical-align: middle;
        line-height: 100%;
        width: 400px;
        align-self: baseline; /* Выравниваем по базовой линии */
        padding-top: 0.4em; /* Микро-корректировка положения */
    }

    .description-body {
        flex: 2 2;
    }

    .description-photo img {
        width: 599;
        height: 348;
        opacity: 1;
        top: 3367px;
        left: 661px;
        border-radius: 10px;
    }

    .content-description p {
        font-family: "Share Tech Mono", monospace;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -4%;
        vertical-align: middle;

    }

    .content-description h2 {
        font-family: 'Halvar Breitschrift', sans-serif;
        width: 1112;
        height: 150;
        color: #ffffffff;
        opacity: 1;
        top: 3139px;
        left: 661px;
        font-weight: 800;
        font-style: ExtraBold;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
        align-self: baseline; /* Выравниваем по базовой линии */
    }

    .description-body p {
        width: 600;
        height: 38;
        opacity: 1;
        top: 3309px;
        left: 660px;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -4%;
        vertical-align: middle;
    }

    .content-description p {
        font-family: "Share Tech Mono", monospace;
    }

    .description-after-photo{
        width: 600;
        height: 76;
        opacity: 1;
        top: 3735px;
        left: 661px;
        font-family: "Share Tech Mono", monospace;
        font-family: Share Tech Mono;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -4%;
        vertical-align: middle;
    }

    .description-button button {
        background-color: #1F2CBE;
        font-family: "Share Tech Mono", monospace;
        width: 600;
        height: 56;
        opacity: 1;
        top: 3841px;
        left: 661px;
        border-radius: 10px;
        padding: 20px;
        gap: 30px;
    }